.container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: baseline;
  align-self: center;
}

.titleContainer {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.cancelButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  max-width: 300px;
  background-color: transparent;
  border: none;
  padding: 0.25rem;
}

.cancelButton .icon {
  width: 1.5rem;
  height: auto;
  color: var(--error);
}

.indications {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.actionButton {
  margin-top: 1rem;
}

.qrWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  padding-top: 0.5rem;
}

.snackbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width >= 850px) {
  .container h2 {
    font-size: 1.5rem;
  }
  .container p {
    font-size: 1.2rem;
  }
}
