.container {
  --padding: 1rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  gap: 1rem;
  position: relative;
}

.pagination {
  align-self: center;
}

.title {
  align-self: center;
}

.errorFetchingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  height: 100%;
}

@media (width >= 850px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    align-self: center;
    padding: 1rem;
    max-width: 850px;
    overflow-x: hidden;
  }
}
