.container {
  --gap: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.container select {
  background-color: var(--surface);
  padding: 0.5rem 1rem;
  border: 1px solid var(--border);
  border-radius: 1rem;
  font-size: 0.9rem;
}

.container select:focus {
  border: none;
  outline: 2px solid var(--color-primary);
}

.errorWrapper {
  display: flex;
  padding: 0.25rem;
  min-height: 2rem;
  height: max-content;
}

.errorWrapper p {
  color: var(--error);
  line-height: 1.2;
  font-size: 0.75rem;
}

@media (width >= 850px) {
  .errorWrapper {
    min-height: 2rem;
  }
  .errorWrapper p {
    font-size: 0.9rem;
  }
}
