.container {
  max-width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productsContainer {
  width: 100%;
  max-width: 1300px;
  align-self: center;
  padding: 1rem;
  gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
}
