.container {
  max-width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productsContainer {
  width: 100%;
  max-width: 1300px;
  align-self: center;
  padding: 1rem;
  gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

.noProducts {
  align-self: center;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

.categorySection {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  gap: 0, 5rem;
}

.categorySectionTitle {
  font-family: var(--title-font);
  font-size: 3rem;
  margin-left: 1rem;
  text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
  transition:
    transform 0.2s ease-in-out,
    color 0.3s ease-in-out;
  font-weight: bold;
}

.categorySectionTitle:hover {
  cursor: pointer;
  color: var(--color-primary);
  transform: translateY(-4px);
}
